<!-- pagina 1 interna -->

<div class="p-5 d-flex align-items-center" style="background-image: url(assets/img/7.png); background-size: cover; height: 400px;">
    <div class="container">
        <div class="d-flex">
            <div class="text-center">
                <p class="subrayado">ESTRUT MOUNT</p>
            </div>
        </div>
    </div>
</div>

<div class="">
    <div class="p-5 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/img/banner_estrut.png" alt="productos" class="img-fluid">
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <div class="text-left">
                        <p class="titulo-header-1 text-blue">Lorem, ipsum.</p>
                        <p>{{ 'estrut.description1' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-5 d-flex align-items-center" style="background-color: #eee; background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex align-items-center">
                    <div class="text-left">
                         <p>{{ 'estrut.description2' | translate }}</p>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <img src="assets/img/producto/strutmount.png" alt="productos" class="img-fluid" style="width:60%;">
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/img/producto/estrut.png" alt="productos" class="img-fluid">
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <div class="text-left">
                        <p class="titulo-header-1 text-blue">Lorem, ipsum.</p>
                        <p>{{ 'estrut.description3' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mt-4">
                    <div class="border-red">
                        <p class="atributo-title">{{ 'general.attributes' | translate }}</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam excepturi illum nesciunt iste, maxime mollitia at, ea rerum eius doloremque explicabo beatae tempore quisquam error et quasi omnis ipsam deserunt.</p>
                    </div>
                </div>
                <div class="col-md-6 mt-4">
                    <div class="border-red">
                        <p class="atributo-title">{{ 'general.attributes' | translate }}</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam excepturi illum nesciunt iste, maxime mollitia at, ea rerum eius doloremque explicabo beatae tempore quisquam error et quasi omnis ipsam deserunt.</p>
                    </div>
                </div>
                <div class="col-md-6 mt-4">
                    <div class="border-red">
                        <p class="atributo-title">{{ 'general.attributes' | translate }}</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam excepturi illum nesciunt iste, maxime mollitia at, ea rerum eius doloremque explicabo beatae tempore quisquam error et quasi omnis ipsam deserunt.</p>
                    </div>
                </div>
                <div class="col-md-6 mt-4">
                    <div class="border-red">
                        <p class="atributo-title">{{ 'general.attributes' | translate }}</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam excepturi illum nesciunt iste, maxime mollitia at, ea rerum eius doloremque explicabo beatae tempore quisquam error et quasi omnis ipsam deserunt.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container p-5 bg-light mt-5">
        <p class="product-title mb-5">Grupo de Productos</p>
        <div class="p-5 xs-no" style="background-image: url(assets/img/banner-1.png); background-size: cover; height: 400px;background-position: bottom;">
            <div class="container">
                <div class="d-flex justify-content-end">
                    <div class="w-44">
                        <p class="titulo-header">Suspension Parts</p>
                        <p>{{ 'estrut.suspensions' | translate }}</p>
                        <a href="#" class="btn-red btn-block">{{ 'general.show_products' | translate }}</a>
                    </div>
                </div>
            </div>
        </div>
        <img src="assets/img/banner-1.png" alt="banner" class="img-fluid xs-si d-none">
        <div class="d-flex justify-content-center ">
            <div class="xs-si d-none my-5">
                <p class="titulo-header text-center">Suspension Parts</p>
              <p>{{ 'estrut.suspensions' | translate }}</p>
                <div class="d-flex justify-content-center">
                    <a href="#" class="btn-red btn-block" style="width: fit-content;">{{ 'general.show_products' | translate }}</a>
                </div>
            </div>
        </div>
        <div class="p-5 xs-no" style="background-image: url(assets/img/producto-1.png); background-size: cover; height: 400px;background-position: bottom;">
            <div class="container">
                <div class="d-flex justify-content-start">
                    <div class="text-center">
                        <p class="titulo-header text-white">SHOCK ADSORBER</p>
                        <p class="subrayado">{{ 'estrut.subtitle' | translate }}</p>
                        <div class="d-flex justify-content-center">
                            <a href="#" class="btn-white btn-block" style="width: fit-content;">{{ 'general.catalogsProduct' | translate }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="assets/img/producto-1.png" alt="banner" class="img-fluid xs-si d-none">
        <div class="d-flex justify-content-center">
            <div class="xs-si d-none my-5">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <p class="titulo-header text-blue">SHOCK ADSORBER</p>
                        <p class="subrayado">{{ 'estrut.subtitle' | translate }}</p>
                        <div class="d-flex justify-content-center">
                            <a href="#" class="btn-red btn-block" style="width: fit-content;">{{ 'general.catalogsProduct' | translate }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
