<div style="background-image: url(assets/img/nosotros.png); background-size: cover; height: 600px;">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="title-nosotros w-title">
            <p class="font-italic">"{{ 'about_us.title1' | translate }}</p>
            <p class="subrayado font-italic">{{ 'about_us.title2' | translate }}"</p>
            <p class="parrafo">{{ 'about_us.description1' | translate }}</p>
        </div>
    </div>
</div>
<div class="last-content my-2">
    <div class="">
        <img src="assets/img/chica.png" alt="chicha " class="img-fluid" style="width: -webkit-fill-available;">
    </div>
    <div class="bg-light p-5 text-dark d-flex align-items-center">
        <div>
            <div class="title-proposito">
                <p class="font-italic">{{ 'about_us.title3' | translate }}</p>
            </div>
            <p class="m-0 last-product">
              {{ 'about_us.description3' | translate }}
            </p>
        </div>
    </div>
</div>
<div style="background-image: url(assets/img/nosotros-footer.png); background-size: cover; background-position: bottom; height: 600px;">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="title-footer w-35 text-center">
            <p class="font-italic">{{ 'about_us.title4' | translate }}</p>
            <div class="text-left mt-5">
                <p class="parrafo-footer"><i class="fas fa-square mr-3"></i>{{ 'about_us.description4.1' | translate }} <span>{{ 'about_us.description4.11' | translate }}</span></p>
                <p class="parrafo-footer"><i class="fas fa-square mr-3"></i><span>{{ 'about_us.description4.2' | translate }}</span> {{ 'about_us.description4.21' | translate }}</p>
                <p class="parrafo-footer"><i class="fas fa-square mr-3"></i>{{ 'about_us.description4.3' | translate }} <span>{{ 'about_us.description4.31' | translate }}</span></p>
                <p class="parrafo-footer"><i class="fas fa-square mr-3"></i><span>{{ 'about_us.description4.4' | translate }}</span>{{ 'about_us.description4.41' | translate }}</p>
            </div>
            <div class="d-flex justify-content-center">
                <a [routerLink]="['/contactos']" class="btn-block bg-red">{{ 'general.contactus' | translate }}</a>
            </div>
        </div>
    </div>
</div>
