<div class="d-none d-sm-none d-md-block d-lg-block d-xl-block">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <!-- <img src="assets/img/slider/masaru-1.png" class="d-block w-100" alt="carousel"> -->
                <div class="p-5 d-flex align-items-center" style="background-image: url(assets/img/slider/masaru-1.png); background-size: cover; height: 600px;">
                    <div class="container">
                        <div class="d-flex">
                            <div class="text-center">
                                <p class="slide-title">{{ 'banners1.title' | translate }}</p>
                                <p class="subrayado mb-4">{{ 'banners1.subtitle' | translate }}</p>
                                <a [routerLink]="['/productos/listado']" class="btn-white text-uppercase">{{ 'banners1.button' | translate }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="p-5 d-flex align-items-center" style="background-image: url(assets/img/slider/masaru-2.png); background-size: cover; height: 600px;">
                    <div class="container">
                        <div class="d-flex justify-content-end">
                            <div class="text-center">
                                <p class="slide-title text-blue" style="font-size:3em!important;">{{ 'banners2.title' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="p-5 d-flex align-items-center" style="background-image: url(assets/img/slider/masaru-3.png); background-size: cover; height: 600px;">
                    <div class="container">
                        <div class="d-flex">
                            <div class="text-center">
                                <p class="slide-title-3">{{ 'banners3.ad' | translate }}</p>
                                <p class="subrayado">{{ 'banners3.title' | translate }}</p>
                                <p class="slide-title text-uppercase" style="font-size: 2.5rem!important;">{{ 'banners3.subtitle' | translate }}</p>
                                <div class="text-left">
                                    <p class="parrafo-footer"><i class="fas fa-square mr-3 text-rojo"></i>{{ 'banners3.option1' | translate }}</p>
                                    <p class="parrafo-footer"><i class="fas fa-square mr-3 text-rojo"></i>{{ 'banners3.option2' | translate }}</p>
                                    <p class="parrafo-footer"><i class="fas fa-square mr-3 text-rojo"></i>{{ 'banners3.option3' | translate }}</p>
                                    <p class="parrafo-footer"><i class="fas fa-square mr-3 text-rojo"></i>{{ 'banners3.option4' | translate }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="p-5 xs-no" style="background-image: url(assets/img/banner-1.png); background-size: cover; height: 400px;">
    <div class="container d-none d-sm-none d-md-block d-lg-block d-xl-block">
        <div class="d-flex justify-content-end">
            <div class="w-35">
                <p class="titulo-header">Suspension Parts</p>
                <p>{{ 'leading.suspensions' | translate }}</p>
                <a [routerLink]="['/productos/Suspension_Parts']" class="btn-red btn-block">{{ 'general.show_products' | translate }}</a>
            </div>
        </div>
    </div>
</div>
<img src="assets/img/banner-1.png" alt="banner" class="img-fluid xs-si d-none">
<div class="container mt-5 xs-si">
    <div class="d-flex justify-content-center">
        <div class="xs-si d-none">
            <p class="titulo-header text-center">Suspension Parts</p>
            <p>{{ 'leading.suspensions' | translate }}</p>
            <div class="d-flex justify-content-center"><a href="#" class="btn-red btn-block" style="width: fit-content;">{{ 'general.show_products' | translate }}</a></div>
        </div>
    </div>
</div>


<section class="container-fluid">
    <div class="container p-5">
        <div class="d-flex justify-content-center m-auto">
            <div class="linea">&nbsp;</div>
            <div class="leyenda">{{ 'leading.title' | translate }}</div>
            <div class="linea">&nbsp;</div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <div class="masaru-70">
                <div class="text-center">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis minus minima iure vel, modi libero error aperiam, nulla dolores veniam quos hic officia asperiores repudiandae temporibus esse rem quas sit!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row flex-wrap">
        <div class="img-col" style="background-image: url(assets/img/b1.png);
        background-size: cover;
        height: 400px;
        background-position: center;">
            <div class="content-text">
              {{ 'leading.photo1' | translate }} <br>
              {{ 'leading.photo1.1' | translate }}
            </div>
        </div>
        <div class="img-col" style="background-image: url(assets/img/b4.png);
        background-size: cover;
        height: 400px;
        background-position: center;">
            <div class="content-text-right">
                {{ 'leading.photo2' | translate }} <br>
                {{ 'leading.photo2.1' | translate }}
            </div>
        </div>
        <div class="img-col" style="background-image: url(assets/img/b2.png);
        background-size: cover;
        height: 400px;
        background-position: center;">
            <div class="content-text">
                {{ 'leading.photo3' | translate }} <br>
                {{ 'leading.photo3.1' | translate }}
            </div>
        </div>
        <div class="img-col" style="background-image: url(assets/img/b3.png);
        background-size: cover;
        height: 400px;
        background-position: center;">
            <div class="content-text-right">
                {{ 'leading.photo4' | translate }} <br>
                {{ 'leading.photo4.1' | translate }}
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container p-5">
        <div class="d-flex justify-content-center m-auto">
            <div class="linea">&nbsp;</div>
            <div class="leyenda">{{ 'general.product' | translate }} Masaru</div>
            <div class="linea">&nbsp;</div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <div class="masaru-70">
                <div class="text-center">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis minus minima iure vel, modi libero error aperiam, nulla dolores veniam quos hic officia asperiores repudiandae temporibus esse rem quas sit!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-5 col-lg-3 text-center mt-4 linkimg" [routerLink]="['/productos/Shock_Absorber']">
                <p class="m-0 text-products">
                    SHOCK ABSORBER
                </p>
                <div class="shadow mt-2">
                    <img src="assets/img/producto/product1.png" alt="producto" class="img-fluid products-img">
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-3 text-center mt-4" [routerLink]="['/productos/Tie_Rod_End']">
                <p class="m-0 text-products">
                    The Rood End
                </p>
                <div class="shadow mt-2">
                    <img src="assets/img/producto/product2.png" alt="producto" class="img-fluid products-img">
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-3 text-center mt-4" [routerLink]="['/productos/Control_Arm']">
                <p class="m-0 text-products">
                    Control ARM
                </p>
                <div class="shadow mt-2">
                    <img src="assets/img/producto/product3.png" alt="producto" class="img-fluid products-img">
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-3 text-center mt-4" [routerLink]="['/productos/Shock_Absorber']">
                <p class="m-0 text-products">
                    Ract End
                </p>
                <div class="shadow mt-2">
                    <img src="assets/img/producto/product4.png" alt="producto" class="img-fluid products-img">
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-3 text-center mt-4" [routerLink]="['/productos/Shock_Absorber']">
                <p class="m-0 text-products">
                    Strut Mount
                </p>
                <div class="shadow mt-2">
                    <img src="assets/img/producto/product5.png" alt="producto" class="img-fluid products-img">
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-3 text-center mt-4" [routerLink]="['/productos/Stabilizer_Link']">
                <p class="m-0 text-products">
                    Stabilizer Link
                </p>
                <div class="shadow mt-2">
                    <img src="assets/img/producto/product6.png" alt="producto" class="img-fluid products-img">
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-3 text-center mt-4" [routerLink]="['/productos/Ball_Join']">
                <p class="m-0 text-products">
                    Ball Joint
                </p>
                <div class="shadow mt-2">
                    <img src="assets/img/producto/product7.png" alt="producto" class="img-fluid products-img">
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-3 text-center mt-4" [routerLink]="['/productos/Control_Arm_Bushing']">
                <p class="m-0 text-products">
                    Control ARM Bushing
                </p>
                <div class="shadow mt-2">
                    <img src="assets/img/producto/product8.png" alt="producto" class="img-fluid products-img">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="p-5 relative" style="background-image: url(assets/img/banner-2.png); background-size: cover; height: 400px;">
        <div class="container">
            <div class="">
                <img src="assets/img/worker.png" alt="worker" class="worker">
            </div>
            <div class="d-flex justify-content-end">
                <div class="w-40 text-white">
                    <p class="titulo-last">{{ 'leading.best' | translate }}</p>
                    <p>{{ 'leading.best1' | translate }}</p>
                    <p>{{ 'leading.best2' | translate }}</p>
                    <div class="d-grid">
                        <a [routerLink]="['/contactos']" class="btn-blue">{{ 'general.contactus' | translate }}</a>
                        <a [routerLink]="['/nosotros']" class="btn-white">{{ 'general.contact' | translate }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
