<div style="background-image: url(assets/img/productos.png); background-size: cover; height: 400px;"></div>
<div class="p-3" style="background-color: #cd0000;">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-4">
                <img src="assets/img/acelera.png" alt="acelera">
            </div>
            <div class="col-md-8">
                <p class="m-0 text-white h4 text-justify">
                  {{ 'catalogs.title' | translate }}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container pt-5">
    <div class="p-5 d-flex align-items-center" style="background-image: url(assets/img/producto-1.png); background-size: cover; height: 400px;">
        <div class="container">
            <div class="d-flex justify-content-start">
                <div class="text-center">
                    <p class="titulo-header-1 text-white">SHOCK ADSORBER</p>
                    <a href="#" class="btn-white btn-block text-uppercase w-35 m-auto">{{ 'general.catalogsProduct' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="p-5 xs-no" style="background-image: url(assets/img/banner-1.png); background-size: cover; height: 400px;">
        <div class="container">
            <div class="d-flex justify-content-end">
                <div class="w-35">
                    <p class="titulo-header">Suspension Parts</p>
                    <p>{{ 'catalogs.suspensions' | translate }}</p>
                    <a href="#" class="btn-red btn-block">{{ 'general.show_products' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/img/banner-1.png" alt="banner" class="img-fluid xs-si d-none">
    <div class="d-flex justify-content-center ">
        <div class="xs-si d-none my-5">
            <p class="titulo-header text-center">Suspension Parts</p>
            <p>{{ 'catalogs.suspensions' | translate }}</p>
            <div class="d-flex justify-content-center">
                <a href="#" class="btn-red btn-block" style="width: fit-content;">{{ 'general.show_products' | translate }}</a>
            </div>
        </div>
    </div>
    <div class="xs-no">
        <div class="p-5 d-flex align-items-center" style="background-image: url(assets/img/producto-2.png); background-size: cover; height: 400px;">
            <div class="container">
                <div class="d-flex justify-content-start">
                    <div class="text-white">
                        <p class="titulo-header-1 text-left">ESTRUT MOUNT</p>
                        <p>{{ 'catalogs.estrut' | translate }}</p>
                        <a href="#" class="btn-white btn-block text-uppercase w-35 m-auto">{{ 'general.catalogsProduct' | translate }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/img/producto-2.png" alt="banner" class="img-fluid xs-si d-none">
    <div class="d-flex justify-content-center ">
        <div class="xs-si d-none my-5">
            <p class="titulo-header text-center">ESTRUT MOUNT</p>
            <p>{{ 'catalogs.estrut' | translate }}</p>
            <div class="d-flex justify-content-center">
                <a href="#" class="btn-red btn-block" style="width: fit-content;">{{ 'general.catalogsProduct' | translate }}</a>
            </div>
        </div>
    </div>
    <div class="p-5">
        <p class="product-title">{{ 'catalogs.title2' | translate }}</p>
    </div>
</div>
<div class="last-content">
    <div class="">
        <img src="assets/img/mecanico.jpg" alt="mecanico " class="img-fluid" style="width: -webkit-fill-available;">
    </div>
    <div class="bg-danger p-5 text-white d-flex align-items-center">
        <div>
            <p class="m-0 last-product">
              {{ 'catalogs.description2' | translate }}
            </p>
        </div>
    </div>
</div>
