
nav
  background-color: #192440

.nav-item
  >a
    text-transform: uppercase
    color: #fff!important

.flag
  width: 40px
li .active
  background-color: #fff!important

.text-flag
  padding: .5em
  font-size: 20px
  text-transform: uppercase

.form-control
  background: transparent!important
  border: inherit !important
  color: white!important

.bg-blue
  background-color: #192440

.input-man
  border-radius: 10px 
  border: 1px solid red

footer
  background-color: #192440
  color: #fff
  padding: 3em

.link a
  color: #fff
  font-size: 15px
  line-height: 2

.link
  >p
    color: red
    font-style: italic

.social
  >.link
    display: flex
    >div
      color: #fff
      border: 1px solid
      height: 50px
      width: 50px
      margin: 1em
      border-radius: 50%
      display: flex
      justify-content: center
      >a
        color: #fff
        display: flex
        align-items: center
        font-size: 25px
  >p
    color: red
    font-style: italic

.br-solid
  border-right: 1px solid